<section ng-controller = "AppCtrl" class="container content-section text-center">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
			<h2>Github Commit Graph</h2>
			<form ng-submit="getCommitData()">
    			User: <input ng-model="user"></input>
    			Repo: <input ng-model="repo"></input>
    			<input type="submit" value="Get Data">
    			Grouped <input type="checkbox" ng-model="grouped">
  			</form>
  			<p class="error">{{error}}</p>
  			<gh-visualization val="data" grouped="grouped"></gh-visualization>
		</div>
	</div>
</section>